/*
* COLORES: 
* purple -> rgb(108 5 255 / 36%)
*/

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  cursor: url('cursor.png'), auto;
}

/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
* {
  box-sizing: border-box;
}

.row {
  width: 100%;
  overflow: hidden;
}
.column-1 {
  float: left;
  width: 95%;
  height: -webkit-fill-available;
  background-color: #000;
  overflow: hidden;
}
/* Control Panel - column */
.column-2 {
  float: left;
  width: 5%;
  background-color: #fff;
  /* padding: 10px; */
  height: -webkit-fill-available;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Button Section */
.button {
  background-color: transparent;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: url('cursor.png'), auto;
  border: 2px solid #fff;
}
.button:hover {
  background-color: #fff;
  color: black;
}

/*
.textbox {
  background: white;
  border: 1px solid #6600ff;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px #6600ff;
  color: #666;
  outline: none;
  height: 23px;
  width: 275px;
}
*/

/* Visual Render Section */
#visualizer_render {
  position: relative;
  z-index: 10;
}

#instruction {
  color: white;
  position: absolute;
  bottom: 55px;
  left: 10px;
}
#image {
  position: absolute;
  width: 100px;
  top: 0%;
  left: 0%;
}
#soundcloud {
  position: absolute;
  bottom: 40px;
  left: 320px;
  z-index: 2;
}
#artisttitle {
  color: white;
  position: absolute;
  top: 40px;
  left: 170px;
  font-size: 50%;
}
#songtitle {
  color: white;
  position: absolute;
  top: 0px;
  left: 170px;
  font-size: 70%;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

#button_play {
  z-index: 2;
  position: relative;
  bottom: 47px;
  left: 33.3%;
}
#button_pause {
  z-index: 2;
  position: relative;
  bottom: 86px;
  left: 33.3%;
}

/*  */
input[type=range] {
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 10px;
  background: #000;
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: transparent;
  margin-top: -4px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #000;
}


/* Control panel section */
#controls {
  position: relative;
  z-index: 10;
  background-color: transparent;
  width: 100%;
  top: 133px;
  margin-top: 20px;
  text-align: center;
}
#controls i {
  color: #000;
  font-size: 130%;
  vertical-align: middle;
  position: relative;
  margin-top: 30px;
}
#controls .name {
  width: 360%;
  right: 130%;
  position: relative;
  right: 132%;
  vertical-align: middle;
  font-family: Lucida Console;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* display: inline-block; */
  /* color: #000; */
  white-space: nowrap;
  position: relative;
  /* top: 72px; */
  margin-top: 125px;
  /* top: 29px; */
  /* height: 100px; */
  overflow: hidden;
  box-sizing: border-box;
  font-size: 16px;
  color: rgb(0 0 0);
  transform: rotate(270deg);
}
#controls .name span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 115s linear infinite;
}


/* Make it move */
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* Volume Section */
#volume {
  position: relative;
  margin-top: 30px;
  width: 100%;
  z-index: 10;
  cursor: url('cursor.png'), auto;
  background-color: transparent;
  display: inline-block;
}
#volume i {
  font-size: 140%;
  color: #000;
  vertical-align: middle;
}
/* Slider line - vertical */

/*generated with Input range slider CSS style generator (version 20201223)
https://toughengineer.github.io/demo/slider-styler*/
input[type=range].styled-slider {
  position: relative;
    width: 400%;
    height: 100%;
    /* top: 200px; */
    margin-top: 233%;
    right: 153%;
    -webkit-appearance: none;
  transform: rotate(270deg);
}

/*progress support*/
input[type=range].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
}

input[type=range].styled-slider:focus {
  outline: none;
}

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
  width: 0;
  height: 0;
  border-radius: 1em;
  background: #000;
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: calc(max((1em - 1px - 1px) * 0.5,0px) - 2em * 0.5);
  -webkit-appearance: none;
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
  height: 1em;
  border-radius: 0.5em;
  background: #efefef;
  border: 1px solid #b2b2b2;
  box-shadow: none;
}
input[type=range].styled-slider::-webkit-slider-thumb:hover {
  background: #000;
}

input[type=range].styled-slider:hover::-webkit-slider-runnable-track {
  background: #e5e5e5;
  border-color: #9a9a9a;
}

input[type=range].styled-slider::-webkit-slider-thumb:active {
  background: #000;
}

input[type=range].styled-slider:active::-webkit-slider-runnable-track {
  background: #f5f5f5;
  border-color: #c1c1c1;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#000,#000) 0/var(--sx) 100% no-repeat, #efefef;
}

input[type=range].styled-slider.slider-progress:hover::-webkit-slider-runnable-track {
  background: linear-gradient(#000,#000) 0/var(--sx) 100% no-repeat, #e5e5e5;
}

input[type=range].styled-slider.slider-progress:active::-webkit-slider-runnable-track {
  background: linear-gradient(#000,#000) 0/var(--sx) 100% no-repeat, #f5f5f5;
}

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
  width: 0;
  height: 0;
  border-radius: 1em;
  background: #000;
  border: none;
  box-shadow: 0 0 2px black;
}

input[type=range].styled-slider::-moz-range-track {
  height: max(calc(1em - 1px - 1px),0px);
  border-radius: 0.5em;
  background: #efefef;
  border: 1px solid #b2b2b2;
  box-shadow: none;
}

input[type=range].styled-slider::-moz-range-thumb:hover {
  background: #000;
}

input[type=range].styled-slider:hover::-moz-range-track {
  background: #e5e5e5;
  border-color: #9a9a9a;
}

input[type=range].styled-slider::-moz-range-thumb:active {
  background: #000;
}

input[type=range].styled-slider:active::-moz-range-track {
  background: #f5f5f5;
  border-color: #c1c1c1;
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient(#000,#000) 0/var(--sx) 100% no-repeat, #efefef;
}

input[type=range].styled-slider.slider-progress:hover::-moz-range-track {
  background: linear-gradient(#000,#000) 0/var(--sx) 100% no-repeat, #e5e5e5;
}

input[type=range].styled-slider.slider-progress:active::-moz-range-track {
  background: linear-gradient(#000,#000) 0/var(--sx) 100% no-repeat, #f5f5f5;
}

/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
  width: 0;
  height: 0;
  border-radius: 1em;
  background: #000;
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: 0;
  box-sizing: border-box;
}

input[type=range].styled-slider::-ms-track {
  height: 1em;
  border-radius: 0.5em;
  background: #efefef;
  border: 1px solid #b2b2b2;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=range].styled-slider::-ms-thumb:hover {
  background: #000;
}

input[type=range].styled-slider:hover::-ms-track {
  background: #e5e5e5;
  border-color: #9a9a9a;
}

input[type=range].styled-slider::-ms-thumb:active {
  background: #000;
}

input[type=range].styled-slider:active::-ms-track {
  background: #f5f5f5;
  border-color: #c1c1c1;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
  height: max(calc(1em - 1px - 1px),0px);
  border-radius: 0.5em 0 0 0.5em;
  margin: -1px 0 -1px -1px;
  background: #000;
  border: 1px solid #b2b2b2;
  border-right-width: 0;
}

input[type=range].styled-slider.slider-progress:hover::-ms-fill-lower {
  background: #000;
  border-color: #9a9a9a;
}

input[type=range].styled-slider.slider-progress:active::-ms-fill-lower {
  background: #000;
  border-color: #c1c1c1;
}



#pushme {
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 7px;
  padding: 7px 10px;
  transform: translate(-50%, -50%);
}
#pushme:hover {
  background: #000;
  color: #fff;
}
#pushme h1 {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .column-1 {
    width: 90%;
  }
  .column-2 {
    width: 10%;
  }
}

